*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/************************************************ Inicio MAIN ****************************/
/* 
main{
    /* margin-right: 40px; */
    /* border: 1px solid rgb(15, 219, 25); */
    /* margin: 50px 20px; } */

/************************************************ Inicio HEADER ****************************/

/* Cambia la barra de desplzamiento (scrollbar) lateral */
body::-webkit-scrollbar{width: 4px;}
body::-webkit-scrollbar-track{background: #1e1e24;}
body::-webkit-scrollbar-thumb{background: #9a0fb6;}



.container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    margin: 0px 18px 0px 18px;
    flex-wrap:wrap; 
    overflow: hidden;
    padding: 10px 20px 0px 20px;
}


body{
    background: linear-gradient(to right,  #ddbdec, #d5fad4);
}
/*body{
    /* background: linear-gradient(to right, #dae2f8, #d6a4a4); */
    /* background: linear-gradient(to right, #8ecfd8, #817ea5);  */
    /* background: linear-gradient(to right, #3d7eaa, #ffe47a);  */
    /* background: linear-gradient(to right, #757f9a, #d7dde8); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background: linear-gradient(to right, #eceaf0, #ecead0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ }*/

/* nav{
    position: fixed;
    width: 100%;
} */

header nav div i{
    font-size: 20px;
}

header nav div img{
    height: 45px;
    width: 45px;
}

header nav div a{
    text-decoration: none;
}

.headerContainerLogo{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.headerFontAwesome{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fa-user{
    padding-right: 5px;
}

.headerContainerBuscador{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
    margin: 10px 20px 0px 20px;
    height: 50px;
    position: relative;
}

.headerContainerBuscador input{
    width: 464px;
    height: 50px;
    padding: 15px;
    /* flex-grow: 1;  */
    border: 1px solid #6c15bd;
    border-radius: 25px;
    /* position: absolute; */
    outline: none;
    background-color: transparent;
}


.headerContainerBuscador button {
    position: absolute;
    top: 0;
    border: 0;
    bottom: 0;
    right: 0;
    border-radius: 0 25px 25px 0;
    padding: 14px;
    margin: auto;
    border: 1px solid #6c15bd;
    cursor: pointer;
    background-color: #6c15bd;
    color: aliceblue;
}

/* button::hover{
    background-color: (0 0 0 /.5);
} */





/*************************************************** Inicio Hero ************************************/

/*Contiene el titulo, api cursos, el boton y foto grupo personas*/
.heroContainer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;   
    flex-wrap: wrap;
    margin: 50px 20px;
    border: 1px solid transparent;
}

/*Img slogan*/
.heroContainer img{
    width: 100%;
}

.herobutton{
    margin-top: 20px
}

/* container foto grupo de personas*/
.heroContainerfoto{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

/*Grupo de personas*/
.heroContainerfoto img{
    width: 100%;
    height: 100%;
}


/*Estilo button "Potencia tu conocimiento"*/

.heroButtonContainer{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heroButton {
	box-shadow:inset 0px 0px 0px -19px #e6c6d3;
	background:linear-gradient(to bottom, #9a519c 5%, #872feb 100%);
	background-color:#f2ace2;
	border-radius:20px;
	border:1px solid #9721c2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:18px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:-5px 1px 18px #78e6dd;
}
.herobutton:hover {
	background:linear-gradient(to bottom, #8aeb2f 5%, #acd8f2 100%);
	background-color:#5f5e4a;
}
.herobutton:active {
	position:relative;
	top:1px;
}


/* Inicio Top 3 */

.topContainerMasElegidos{
    margin: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #ddbdec, #cbf8cb);
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.topContainer{
    display: flex;
    margin: 60px;
}

.toptresContainerHijos{
    display: flex;
    margin: 10px;
}



/*Inicio Cards*/

/*Tag Section: incluye titulos y cards*/
.cardsSection{
    background: linear-gradient(to right, #ddbdec, #a3f7a2);
    border: 1px solid transparent;
}

/*Container Titulos h2 y h3*/
.cursoContainerTitulos{
    display: flex;
    margin: 50px 10px 0px 10px;
    align-items: center;
    border: 1px solid transparent; 
    flex-direction: column;
}

.cardsSection h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.cardsSection h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}



.cursoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 50px;
    cursor: pointer;
}

.cursoContainer img {
    width: 75%;
    /* height: 200px; */
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}

.cursoContainer:hover img {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.comprarButton {
    padding: 10px 20px;
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





/* Inicio Contacto */

.containerform {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 0;
}

form {
    background-color: #FFFFFF;
    border: 1px solid #DBD6E2;
    border-radius: 4px;
    padding: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #DBD6E2;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #DBD6E2;
    border-radius: 4px;
}

.btn-submit {
    background-color: #872feb;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #8d3ceb;
}



/*Inicio Footer*/


footer{
    background:#8c52ff;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.footer_inferior{
    background-color: #6940bb;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content:center;
    height: 30px;
    border-top: 1px solid white;
}
p{
    padding: 10px;
}
.footer_superior{
    display: flex;
    justify-content: space-between;
    height: 150px;

}
a{
    width: 20px;
    height: 20px;
}

.margen a img{
    width: 20px;
    height: 20px;
}
.margen{
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    align-items:center ;
    
}
.redes{
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.menu_footer{
    display: flex;
    flex-direction: column;
    
}
.container_logo{
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
}
.logo{
    height: 50px;
    width: 50px;
    margin: 10px;
}

.menu_listas{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    
}
.container_pol{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}
.politicas{
    padding: 0;
    margin-bottom: 5px;
    font-size: 15px;
}
.lista{
    /* text-align: start; */
    margin-bottom: 5px;
    font-weight:bold;
}


/* MARCOS */

@media only screen and (max-width: 480px) {
    .ContainerLogoForm {
    padding: 10px;
    }
}




/************************************************ MEDIA PARA TABLETS */
/* ENTRE 601 Y 1200*/ 

@media only screen and (min-width: 501px) {

    .container{
        
        align-content: center;
        justify-content: space-between;
    }

    .headerContainerBuscador input{
        flex-grow: 1; 
    }
    }

    /************************************************************* Footer */

    :root {
        --background: #2C2C2C;
        --linkedin: #0A66C2;
        --youtube: #e52d27;
        --twitter: #1D9BF0;
    }
    *{
        transition: all 0.5s;
    }
    .footer_superior{
        height: 200px;
    }
    .menu_footer{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .logo{
        height: 70px;
        width: 70px;
    }
    .redes{
        height: 50px;
        width: 300px;
    }
    .margen{
        width: 40px;
        height: 40px;
    }
    .margen a{
        height: 30px;
        width: 30px;
    }
    .margen a img{
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    *{
        font-size: 20px;
    }
    .politicas{
        font-size: 20px;
    }
    .politicas:hover{
        cursor: pointer;
        font-weight:bolder ;
        transition: all 0.5s;
    }
    .margen:hover{
        border: 2px;
        transition: all 0.3s;
        transform: scale(1.25);
    }
    .img{
        transition: all 0.3s;
    }
    .margen:hover:nth-child(1) {
        background:  radial-gradient(
            circle at 30% 107%, #fdf497 0%, 
            #fdf497 5%, #fd5949 45%,
            #d6249f 60%,#285AEB 90%
        ); 
        transition: all 0.3s;
    }
    .margen:hover:nth-child(2) {
        background-color: var(--twitter);
    }
    
    .margen:hover:nth-child(3) {
        background-color: var(--youtube);
    }
    
    .margen:hover:nth-child(4) {
        background-color: var(--linkedin);
    }
    .container_pol{
        margin-top: 15px;
    }
.menu_listas{
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;  
}
.lista{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu_listas .lista:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(105%);
}

    /************************************************ MEDIA PARA ...*/

    @media(min-width:801px){

        .menu_listas{
            flex-direction: row;
        }
    
        .lista{
            display:flex;
            margin-left:  10px;
        }
    }


/******************************************** MEDIA Q PARA COMPUS GRANDES */
/* PASA LOS 1200*/
@media only screen and (min-width: 1201px) {

    .heroContainer{
        flex-direction:row;
        column-gap: 80px;
    }

    .cursoContainerTitulos{
        margin: 50px 10px 50px 100px;
        align-items: flex-start;
    }

    .cardsSection h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: #6c15bd;
    }
    
    .cardsSection h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        font-style: italic;
    }

    .cursoContainer {
        flex-direction: column;
        /* margin-right: 50px;
        margin-left: 50px; */
    }

    .cursoContainer img {
        width: 100%;
    }

    .cursosTodos{
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        margin-top: 50px;
        margin-left: 90px;
        margin-right: 90px;
    }



    }