*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Inicio Header */

.container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    margin: 8px 18px 0px 18px;
    flex-wrap: wrap;
}

header nav div i{
    font-size: 20px;
}

header nav div img{
    height: 30px;
    width: 30px;
}

header nav div a{
    text-decoration: none;
}

.headerContainerLogo{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.headerFontAwesome{
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fa-user{
    padding-right: 5px;
}

.headerBuscador{
    display: flex;
    justify-content: center;
    margin: 10px 20px 0px 20px;
    z-index: 999;
}

.headerBuscador input{
    width: 464px;
    height: 50px;
    border-radius: 15px;
    padding: 15px;
    flex-grow: 1; /* Para que ocupe el maximo del div (headerBuscador, tiene margenes!)*/
    border: 1px solid blueviolet;
}

.headerBuscador button i fa-magnifying-glass{
    background-color: blueviolet;
    border: none;
}

.headerBuscador button {
    position: absolute;
    height: fit-content;
    padding: 15px;
}